* {
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
html {
    height: 100%;
}

body {
    height: fit-content;
    font-family: 'Arial', sans-serif;
    background-color: rgb(90, 15, 189);
    height: fit-content;
    margin: 0;
    margin-bottom: 180px;
    overflow-x: hidden;
}

.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header {
    box-shadow: 0 4px 6px rgba(14, 13, 13, 0.623);
    max-height: 86px;
    background-color: #242424;
    animation: cambiarColorFondo 10s ease infinite;
    text-align: center;
    display: flex;
    padding: 1rem 0;
    z-index: 10;
    position: relative;
    overflow: hidden;
    justify-content: space-around;
}

.texto-header {
    color: white;
    font-size: 2rem;

}


header img {
    position: absolute;
    top: 4px;
    width: 100px;
    animation: mov 4s ease infinite alternate;
}

.burger-ico {display: none;}

main {
    padding-bottom: 100px;

}

.main-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.main-descuentos {
    background: linear-gradient(120deg, #ee82ee, #9e5f9e, #ba55d3, #9932cc, #8a2be2, #9d27cf);
    background-size: 300% 300%;
    animation: moverFondo 5s ease infinite;
    z-index: -1;
}

.main-fondo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #ee82ee, #9e5f9e, #ba55d3, #9932cc, #8a2be2, #9d27cf);
    background-size: 300% 300%;
    animation: moverFondo 10s ease infinite;
    z-index: -1;
}
.section-categorias {
    padding: 2rem 1rem;
    margin: auto;
    margin-top: 5rem;
    width: auto;
    max-width: 800px;
    border-radius: 8px;
    cursor: pointer;
    background: rgb(187, 140, 140);
    box-shadow: 5px 10px 5px rgba(100, 76, 76, 0.8);
    transition: transform 0.3s ease, max-height 0.3s ease;
    max-height: 700px;
    min-height: 200px;
    overflow: hidden;
}

.section-categorias-presentacion img {
    width: 100%;
    height: 50%;
}

.section-categorias-presentacion {
    color: white;
}

.section-categorias:hover {
    animation: movSect 4s ease infinite alternate;
}

.section-categorias-presentacion div {
    color: #6f359e;
}

.section-categorias h2 {
    margin: 0;
    font-size: 1.5em;
}

.section-categorias p {
    margin: 10px 0;
    line-height: 1.5;
}

.cerrar-card{
    display: none;
    position: fixed;
    top: 10px;
    right: 3%;
    width: auto;
    height: fit-content;
    text-align: center;
    align-items: center;
    border-radius: 10%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    z-index: 200;
    transition: transform .6s ease;
}
.cerrar-card:hover{
    transform: scale(1.05);
}
.cerrar-card p{
    font-size: clamp(32px, 3vw, 54px);
}

.comentario {
    position: relative;
    background-color: #f0f0f0;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.6;
    justify-content: center;
}

.calificacion {
    display: flex;
}

.calificacion label {
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.calificacion label:before {
    content: '\2605';
    display: block;
    color: #caa93e;
    font-size: 40px;
    transition: color 0.2s;
}

.perfil h3{
    font-family: Chakra Petch;
    font-size: clamp(8px,4vw,32px);
    color: #000;
    background-color: #ffffff71;
}
.seccion-comentarios {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-top: 1px solid #ccc;
}



.entrada-comentario {
    flex: 1;
}

.entrada-comentario textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.entrada-comentario button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.entrada-comentario button:hover {
    background-color: #0056b3;
}

.review {
    width: 80%;
    background-color: #d3d3d3;
    padding: 1rem;
    align-items: center    ;
    display: flex;
    margin-bottom: 40px;
}

.perfil {
    margin-top: 0rem;
    width: fit-content;
    padding: 20px;
    text-align: center;
}


.section-categorias.expanded {
    animation: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    max-width: 98%;
    height: fit-content;
    max-height: 900px;
    overflow-y: scroll;
    padding-bottom: 10rem;
    cursor: auto;
}
.section-categorias.expanded h2{
    position: absolute;
    font-family: Chakra Petch;
    font-size: clamp(64px,15vw,124px);
    color: #ffffff;
    background-color: #292c3080;
    font-weight: 400;
    width: 100%;
    top: 20%;
    left: 20%;
}
.section-categorias.expanded img{
    box-shadow: 0px 0px 30px #242424;
    margin-bottom: 2rem;
}

.section-categorias.expanded p{
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-family: Chakra Petch;
    font-size: clamp(16px,10vw,32px);
    background-color: #292c3080;
    max-width: 300px;
    font-weight: 400;
    top: 60%;
    right:10%;
}
.overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    display: none;
    z-index: 5;
}

.section-categrias-contenido {
    display: none;
}

.section-categorias.expanded .section-categrias-contenido {
    display: block;
}
.perfil img {
    width: 90px;
    height: 90px;
    margin: 0;
    border-radius: 50%;
    border: 8px solid #fff ;
    margin-right: 10px;
    box-shadow: none;
    margin-top: 16px;
}
.nav-ul-li a {
    color: #5d5e61;
    font-weight: bold;
    transition: color 0.3s ease;
    transition: background 0.5s ease-in;
    background: #ffffff;
    padding: 4px;
    border-radius: 20px;
    font-family: "Titillium Web", sans-serif;
}
.nav-ul-li a:not(:hover, :active) {
    color: #fff;
    background: none;
    text-decoration: none;
}

nav {
    margin-top: auto;
}

.nav-ul-li {
    list-style: none;
    margin: 0rem 1rem 0rem 1rem;
}

.nav {
    align-items: end;
}
.nav-ul {
    justify-content: end;
    display: flex;
}
.card.expanded +.overlay {
    display: block;
}
.section-categorias.expanded+.overlay {
    display: block;
}
.icons img {
    width: 45px;
}

.container {
    display: flex;
    margin: auto;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
}

.form-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: fit-content;
    transition: height 0.4s ease;
    overflow: hidden;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form-toggle button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 48%;
    border-radius: 5px;
    transition: background-color 1s;
}

.form-toggle button:hover {
    background-color: #555;
}

.form {
    display: none;
    flex-direction: column;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.form.active {
    display: flex;
    opacity: 1;
}

.form.inactive {
    opacity: 0;
    pointer-events: none;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form input {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #0056b3;
}

.moverse-dentro-izquierda {
    animation: moverseDentroIzquierda 0.4s forwards;
}

.moverse-dentro-derecha {
    animation: moverseDentroDerecha 0.4s forwards;
}

.moverse-fuera-izquierda {
    animation: moverseFueraIzquierda 0.4s forwards;
}

.moverse-fuera-derecha {
    animation: moverseFueraDerecha 0.4s forwards;
}

#hero {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 800px;
    width: 100%;
    animation: sombraAnimacion 2s ease-in-out infinite alternate;
}

.hero-video {
    height: 100%;
    width: 100%;
    display: block;

}

#hero .hero-contenedor {
    height: 100%;
    width: 100%;
    top: 0px;
    position: absolute;
    background: rgba(113, 55, 146, 0.668) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABxJREFUGFdjZGBgMGZgYDjLAAWMMAY2AbBKDBUAUIYCBfSSH+MAAAAASUVORK5CYII=) repeat;
    display: grid;
    place-items: center;
}

#hero .hero-texto h1 {
    font-size: clamp(10px, 9vw, 128px);
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0%;
}
#hero .hero-texto {
}
#hero .hero-texto p {
    position: absolute;
    width: 100%;
    bottom:10%;
    left: 0%;
    font-size: clamp(10px, 6vw, 64px);
    color: rgb(143, 143, 143);
    text-align: center;
}

.genero {
    text-align: center;
    color: white;
    padding-top: 16px;
}

.genero article {
    background-color: rgb(126, 48, 228);
}

.bloque {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 16px;
    padding: 25px;

}

.tarjeta {
    max-width: 314px;
    max-height: 500px;
    min-height: 350px;
    min-width: 110px;
    position: relative;
    background-color: #3c2069;
    color: white;
    text-align: center;
    padding: 0.1rem;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.img-juegos {
    height: 353px;
    width: 320px;
    max-height: 353px;
    max-width: 320px;
    object-fit: cover;
}

.descuento-circulo {
    position: absolute;
    display: block;
    z-index: 8;
    top:85%;
    right: 1%;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid #fff;
    
}

.descuento strong {
    font-size: larger;
    font-weight: 600;
    margin-right: 2rem;
    color: #ffc107;
}

footer {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    width: 100%;
    background-color: #242424;
    min-height: 86px;
    margin-top: 1rem;
    padding-right: 2rem;
    color: #fff;
    text-align: center;
}

@keyframes mov {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@keyframes movSect {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes moverseDentroIzquierda {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moverseDentroDerecha {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moverseFueraIzquierda {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes moverseFueraDerecha {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes moverFondo {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes sombraAnimacion {
    0% {
        box-shadow: 0px 0 10px rgba(25, 25, 26, 0.5), 0 0 20px rgba(65, 52, 68, 0.5), 0 0 30px rgba(81, 51, 88, 0.5), 0 0 40px rgba(131, 66, 131, 0.5), 0 0 50px rgba(114, 76, 76, 0.5);
    }

    100% {
        box-shadow: 0 0 10px rgba(138, 43, 226, 1), 0 0 20px rgba(186, 85, 211, 1), 0 0 30px rgb(167, 75, 190), 0 0 40px rgb(177, 14, 177), 0 0 50px rgba(255, 255, 255, 1);
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #693996;
}

::-webkit-scrollbar-thumb {
    background: #8a2be2;
    border-radius: 10px;
    border: 2px solid #dda0dd;
}

::-webkit-scrollbar-thumb:hover {
    background: #aa63c9;
    border-radius: 10px;
    border: 2px solid #616161;
}

.hero-acerca {
    border-bottom: 10px;
    height: 100%;
    min-height: 800px;
    z-index: 3;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/Herosectionacerca.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: sombraAnimacion 2s ease-in-out infinite alternate;

}

.hero-texto h1 {
    position: absolute;
    padding: 0rem 2rem 0rem 2rem;
    top: 40%;
    right: 50%;
    color: azure;
    font-size: 6rem;
}
.hero-texto h2 {
    position: absolute;
    background: rgba(39, 35, 35, 0.475);
    padding: 0rem 2rem 0rem 2rem;
    top: 62%;
    right: 28%;
    color: rgb(255, 255, 255);
    font-size: 40px;
}


.acerca-main {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(2, 1fr);
   animation: moverFondo 5s ease infinite;
   background: linear-gradient(120deg, #ee82ee, #9e5f9e, #ba55d3, #9932cc, #8a2be2, #9d27cf);
   padding-bottom:10rem;
   
}
#aside {
    grid-column: span 2;
    grid-row: span 2;
    background-color: rgb(87, 8, 110);
    border-radius: 10px;
    margin: 16px;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.623);
}

.section-aside h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.section-aside-article {
    margin: .5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: .2rem;
}

.section-aside img {
    margin: 10px;
    padding-top: 32px;
    max-height: 250px;
    max-width: 300px;
    border-radius: 250px;
    padding-bottom: 32px;
}

.section-aside p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 40px;
    margin-top: 32px;
    margin-right: 16px;
}
#imagen-icono {
    margin: auto;
    background-color: #ffffff;
    border-radius: 250px;
    display: flex;
    max-height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.623);
}

.section-acerca {
   grid-column: span 3;
   grid-row: span 2;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   padding-top: 32px;
  
}

.section-acerca article {
    margin: 6px;
    padding: 0.4rem;
    border-radius: 10px;
    background-color: rgb(177, 134, 206);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.623);
}



.section-acerca h4 {
    text-align: center;
    font-size: 15px;
    padding-top: 16px ;
  
}

.section-acerca p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}

#txtArea{
width: 100%;
}
@media (max-width:900px) {
    html {
        font-size: 14px;
    }
    .acerca-main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        max-height: 2800px;
    }

    #aside{
        max-height: 1050px;
        grid-columns: span 1;
        grid-row: span 2;
       }
       .section-aside img {
        margin: 10px;
        padding-top: 10px;
        max-height: 250px;
        max-width: 200px;
        border-radius: 250px;
        padding-bottom: 32px;
    }
       .section-acerca{
        grid-column: span 1;
        grid-row: span 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        max-height: 1500px;
        }
        

        .section-acerca article{
            
        }
    header {
        min-height: 54px;
    }

    nav {display: none;}

    #hero .hero-texto h1 {
        top: 30%;
        position: absolute;
        max-height: 10px;
        font-size: clamp(48px, 3vw, 3vw);
        text-align: center;
        color: white;
    }

    #hero .hero-texto p {
        font-size: 16px;
        color: rgb(143, 143, 143);
        text-align: center;
    }
    
    .hero-texto p strong .texto-hero {
        font-size: clamp(24px, 1.5vw, 1.5vw);
        text-align: center;
        color: white;
    }
    
    .img-juegos{
        max-width: 110px;
        max-height: 250px;
        width: 100%;
        height: 60vw;
        max-width: 350px;
        max-height: 320px;
        
    }
    .bloque {
        padding: 0px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .bloque h2 {
        font-size: 14px;
    }

    .bloque .descuento-circulo {
        display: none;
    }

    .bloque p {
        font-size:10px;
    }
    
    .bloque .descuento {
        font-size: 10px;
    }

    .tarjeta{
        padding: 0;
        width: 40vw;
        min-width: 130px;
        min-height: 370px;
        margin: auto;
        transform: none;
        padding: 8px;
        justify-content: center;
    }
    .tarjeta h2{
        margin: 2px;
    }
}